<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <namespace name="DAL.Interfaces" />
  <namespace name="DAL.Repositories"/>
  <assembly name="DAL"/>

  <namespace name="Service.Interfaces" />
  <namespace name="Service.Implementations"/>
  <assembly name="Service"/>

  <namespace name="Designer.ViewModels"/>
  <assembly name="Designer"/>

  <container>
    <register type="IUnitOfWork" mapTo="UnitOfWork" />
    <register type="IRoomRepository" mapTo="RoomRepository" />
    <register type="ICharacterRepository" mapTo="CharacterRepository" />
    <register type="IConsumableRepository" mapTo="ConsumableRepository" />
    <register type="IInteractionRepository" mapTo="InteractionRepository" />
    <register type="IInteractiveObjectRepository" mapTo="InteractiveObjectRepository" />
    <register type="IDialogueRepository" mapTo="DialogueRepository" />

    <register type="IRepositoryService" mapTo="RepositoryService" />
  </container>
</unity>
